
.blux-text-block__block-unstyled {
    font-size: 15pt;
    padding-bottom: 18pt;
}


.blux-text-block__block-paragraph {
    font-size: 15pt;
    padding-bottom: 18pt;
}

.blux-text-block__block-header-one {
    padding-bottom: 18pt;
}

.blux-text-block a {
    color: initial;
}