


.blux-media-selector-modal__upload-media-button {
    margin-right: 33pt;
}

.blux-media-selector__new-folder-button {
    margin-left: 33pt;
}


.blux-media-selector-modal__confirm-button {
    min-width: 80pt;
}