
.blux-post-preview:link,
.blux-post-preview:visited {
    color: inherit;
    outline: none;
}

.blux-post-preview:hover {
    text-decoration: none;
}

.blux-post-preview__container {
    padding-top: 22pt;
    padding-bottom: 16.66pt;
    border-bottom: 0.66pt solid rgba(0, 0, 0, 0.66);
}

.blux-post-preview__image-col {
    text-align: center;
    padding: unset;
}

.blux-post-preview__image-container {
    display: inline-block;
    width: 180pt;
    height: 180pt;
    overflow: hidden;
}

.blux-post-preview__image {
    position: relative;
    width: auto;
    height: 100%;
    max-width: none;
    max-height: 180pt;
}

.blux-post-preview__image--portrait {
    width: 100%;
    height: auto;
    max-width: 180pt;
    max-height: none;
}

.blux-post-preview__text-col {
    padding-left: 22pt;
}

.blux-post-preview__header {
    margin-bottom: 8.8pt;
}

.blux-post-preview__title {
    font-size: 22pt;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .blux-post-preview__title {
        font-size: 19.66pt;
        text-align: center;
        margin-bottom: 11pt;
    }
}

@media (max-width: 991px) {
    .blux-post-preview__image-col {
        padding-bottom: 22pt;
    }
}


/*******************/


.blux-post-preview__date-row {
    text-align: right;
    padding-right: 33pt;
    margin-bottom: 3.3pt;
}

.blux-post-preview__draft,
.blux-post-preview__published {
    font-weight: bold;
    font-size: 13pt;
}


.blux-post-preview__draft {
    color: rgb(244, 111, 0);
    font-style: italic;
}

.blux-post-preview__modified {
    font-size: 10pt;
    font-style: italic;
}

.blux-post-preview__body {
    padding-top: 9pt;
    padding-left: 11pt;
    padding-right: 11pt;
}

.blux-post-preview__read-more {
    font-weight: 600;
    font-size: 16pt;
    margin-right: 33pt;
}

@media (max-width: 767px) {
    .blux-post-preview__date-row {
        padding-right: 0pt;
        text-align: center;
    }
    .blux-post-preview__draft,
    .blux-post-preview__published {
        font-size: 11pt;
    }
    .blux-post-preview__modified {
        font-size: 9pt;
    }
}



/********************/