

.blux-social-prompt__inputs-container {
    margin-top: 44pt;
    margin-bottom: 33pt;
}

.blux-social-prompt__buttons-container {
    padding-top: 9pt;
    padding-bottom: 9pt;
}

.blux-social-prompt__ok-button {
    padding-left: 9pt;
    padding-right: 9pt;
}