
.blux-image-block {
    width: 100%;
    text-align: center;
    padding: 22pt;
}


.blux-image-block__img-container {
    position: relative;
    display: inline-block;
}

.blux-image-block__img {
    max-width: 900px;
    max-height: 480px;
}

@media (max-width: 767px) {
    .blux-image-block {
        padding: 11pt 0pt;
    }
    .blux-image-block__img {
        max-width: calc(100vw - 44pt);
    }
}