


.blux-auth-modal__info {
    margin-top: 22pt;
    margin-bottom: 22pt;
}

.blux-auth-modal__user {
    margin-bottom: 22pt;
}

.blux-auth-modal__pass {
    margin-bottom: 22pt;
}

.blux-auth-modal__pat-recommendation {
    margin-bottom: 22pt;
    font-style: italic;
}