


.blux-auth-modal__info {
    margin-top: 55pt;
    margin-bottom: 22pt;
}

.blux-auth-modal__user {
    margin-bottom: 22pt;
}

.blux-auth-modal__pass {
    margin-bottom: 22pt;
}

.blux-auth-modal__pat-recommendation {
    margin-bottom: 44pt;
    font-style: italic;
}

.blux-auth-modal__submit {
    margin-bottom: 22pt;
}