


.blux-auth-modal__info {
    margin-top: 36.6pt;
    margin-bottom: 33pt;
}

.blux-auth-modal__user {
    width: 100%;
    max-width: 266pt;
    margin-bottom: 9.9pt;
}

.blux-auth-modal__pass {
    width: 100%;
    max-width: 266pt;
    margin-bottom: 44pt;
}

.blux-auth-modal__note {
    margin-bottom: 44pt;
    font-style: italic;
}

.blux-auth-modal__submit {
    margin-bottom: 22pt;
}