
.blux-cover {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(188, 188, 188, 0.44);
}

.blux-cover__content-container {
    max-width: 900pt;
    max-height: 600pt;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}