

.blux-move-block {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 22pt;
    transform: translateY(-50%) scale(1.0);
    opacity: 1.0;
    transition: transform 0.122s ease, opacity 0.22s ease;
}

.blux-move-block--hidden {
    transform: translateY(-50%) scale(0.0);
    opacity: 0.0;
}

.blux-move-block__button {
    display: block;
    line-height: 10pt;
    padding-top: 6pt;
    padding-bottom: 6pt;
    padding-left: 8pt;
    padding-right: 9pt;
    margin-bottom: 6pt;
}