

.blux-delete-block {
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 22pt;
    line-height: 10pt;
    padding-top: 4pt;
    padding-bottom: 6pt;
    padding-left: 8pt;
    padding-right: 8pt;
    transform: translateY(-50%) scale(1.0);
    opacity: 1.0;
    transition: transform 0.122s ease, opacity 0.22s ease;
}
.blux-delete-block:hover {
    background-color: rgba(255, 166, 166, 0.88);
}
.blux-delete-block--hidden {
    transform: translateY(-50%) scale(0.0);
    opacity: 0.0;
}