

.blux-url-modal__textbox-container {
    margin-top: 33pt;
    margin-bottom: 22pt;
}

.blux-url-modal__buttons-container {
    padding-top: 9pt;
    padding-bottom: 9pt;
}

.blux-url-modal__ok-button {
    padding-left: 9pt;
    padding-right: 9pt;
}