

.blux-blog-header {
    position: relative;
    padding-top: 33pt;
    padding-bottom: 33pt;
    margin-bottom: 33pt;
}

.blux-blog-header__title {
    text-align: center;
    font-size: 38pt;
}

.blux-blog-header__title-textbox {    
    text-align: center;
}

.blux-blog-header__published-col {
    text-align: right;
    padding-right: 22pt;
}

.blux-blog-header__modified-col {
    text-align: left;
    padding-left: 22pt;
}

.blux-blog-header__draft {
    color: rgb(244, 111, 0);
    font-style: italic;
}

.blux-blog-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 44%;
    border-bottom: 3.3pt solid black; 
}