
.blux-media-browser__thumbs {
    height: 60vh;
    overflow-y: initial;
    overflow-x: hidden;
}

.blux-media-browser__media-row {
    margin-bottom: 11pt;
}

.blux-media-browser__media-col {
    padding-left: 11pt;
    padding-right: 11pt;
}