

.blux-blog-browser__new-post {
    position: absolute;
    display: inline-block;
    top: 11pt;
    left: 11pt;
    text-align: center;
}

.blux-blog-browser__new-post-icon {
    margin-left: 2pt;
    margin-right: 2pt;
}