

.blux-create-block {
    text-align: center;
    height: 166pt;
    padding-top: 44pt;
    z-index: 100;
    position: relative;
}


.blux-create-block__button {
    position: static;
    font-size: 24pt;
    padding-top: 1.1pt;
    padding-bottom: 1.1pt;
    padding-left: 9pt;
    padding-right: 9pt;
    margin-left: 6pt;
    height: 33pt;
    vertical-align: middle;
    transform: translateX(0%);
    transition: position 0.3s ease, transform 0.122s ease, opacity 0.22s ease;
}
.blux-create-block__button--hidden {
    transform: scale(0.0);
    opacity: 0.0;
}

.blux-create-block__select {
    margin-right: 6pt;
    transform: scaleX(1.0);
    opacity: 1.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.blux-create-block--unopened {
    padding: 0;
    height: 0;
}

.blux-create-block--unopened
.blux-create-block__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.blux-create-block--unopened
.blux-create-block__select {
    transform: scaleX(0.0);
    opacity: 0.0;
}