.blux-text-block {
    padding: 22pt;
    padding-left: 88pt;
    padding-right: 88pt;
}

.blux-text-block--left {
    text-align: left;
}
.blux-text-block--center {
    text-align: center;
}
.blux-text-block--right {
    text-align: right;
}
.blux-text-block--justified {
    text-align: justify;
}

@media (max-width: 767px) {
    .blux-text-block {
        padding-left: 11pt;
        padding-right: 11pt;
    }
}
@media (max-width: 575px) {
    .blux-text-block {
        padding-top: 11pt;
        padding-bottom: 11pt;
    }
}