


.blux-page-selector-modal__new-page-button {
    margin-right: 33pt;
}

.blux-page-selector__new-folder-button {
    margin-left: 33pt;
}


.blux-page-selector-modal__confirm-button {
    min-width: 80pt;
}